<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, eveniet reprehenderit quo, illo
                recusandae enim dolorem autem eum sapiente perferendis!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> igorzinBrabo@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-6666</li>
                <li><i class="fa-solid fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>